@import '_util/reset.css';

@font-face {
  font-family: 'Icon';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('../font/fontawesome-webfont.eot?v=#4.0.3');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=#4.0.3') format('embedded-opentype'),
       url('../font/fontawesome-webfont.woff?v=#4.0.3') format('woff'),
       url('../font/fontawesome-webfont.ttf?v=#4.0.3') format('truetype'),
	   url('../font/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3') format('svg');
}
@font-face {
	font-family: 'Inconsolata';
	src: url('../font/Inconsolata.otf');
}



.-container {
	padding: 50px 5%;
}
.-icon {
	font-family: 'Icon';
	text-align: center;
}



body{
	font-size: 1.8rem;
	font-family: 'Inconsolata';
}
h1 {
	margin: 0;
	color: #ac372c;
}
p {
	margin: 50px 0 0 0;
	line-height: 150%;
}

@import '_partial/header.css';
@import '_partial/footer.css';