<main>
	<article class="article">
		<header class="article-header" style="background-image:url(<%- page.img %>)">
			<div class="article-title">
				<h1><%- page.header %></h1>
			</div>
		</header>
		<div class="article-text -container">
			<%- page.content %>
		</div>
	</article>
</main>