<section class="blog -container">

    <header>
        <h1 class="blog-title">Artigos</h1>
    </header>

    <ul class="blog-articles">
        <% site.posts.each(function(post){ %>
            <li class="blog-article" data-image="<%- post.img %>"><a class="blog-article-link" href="<%- url_for(post.path) %>"><%- post.title %></a></li>
        <% }) %>
    </ul>

</section>