<main>
    <article class="intro -container">

        <header>
            <h1>Bem-vindo ao pomar de mentes</h1>
        </header>

        <p>Orchard minds é um lugar para pessoas que se divertem aprendendo.</p>

        <p>Seu principal proposito é servir de plataforma para os Seeders compartilharem o que sabem, enquanto ajudam outras pessoas a evoluir. A constante vontade de se aperfeiçoar e obter conhecimento é o que move todos que estão aqui.</p>

        <p>Uma iniciativa criada para ajudar pessoas. Conheça desenvolvedores, metodologias e ferramentas que podem auxiliar em seus projetos.</p>

        <p class="intro-invite">Queremos que você faça parte dessa grupo também!</p>

    </article>
</main>



<section class="blog -container">

    <header>
        <h1 class="blog-title">Ultimos artigos</h1>
    </header>

    <ul class="blog-articles">
        <% site.posts.each(function(post){ %>
            <li class="blog-article" data-image="<%- post.img %>"><a class="blog-article-link" href="<%- url_for(post.path) %>"><%- post.title %></a></li>
        <% }) %>
    </ul>

    <a class="blog-invite" href="lista-de-artigos">Veja a lista de todos os artigos</a>

</section>