.article {
  background-color: #efefef;
}
.article-header {
  height: 300px;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-transform: uppercase;
}
.article-title {
  height: 100%;
  padding: 30px;
  background-color: rgba(50,50,50,0.7);
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.article-title h1 {
  font-size: 2rem;
  color: #fff;
}
.article-title strong {
  font-size: 4rem;
}
.article img {
  width: 100%;
  margin-top: 50px;
}
.article-text p:first-child {
  margin-top: 0;
}
.article-text a {
  font-weight: bold;
  color: #ff473b;
}
.article-text code {
  background-color: #111;
  display: block;
  width: 100%;
  color: #fff;
  white-space: pre;
  padding: 3rem 0;
  margin: 3rem 0 0 0;
}
