<header class="body-header">

	<a class="logo-link" href="home" title="home">
		<img class="logo-icon" src="image/folha.png" alt="folha logo orchard minds icone">
		<h1 class="logo-title">Orchard Minds</h1>
	</a>

	<div class="menu-control -icon">&#xf0c9;</div>

	<nav>
		<ul class="menu-header _close">
	   	<li><a class="menu-link" href="home">Home</a></li>
	      <li><a class="menu-link" href="lista-de-artigos">Lista de Artigos</a></li>
		</ul>
	</nav>

</header>